.dashboard-card{
    background:#fff;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.card-top{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.card-icon{
    width:55px;
    height:55px;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:24px;
}

.dashboard-card h2{
    margin-top:10px;
    color:#2563EB;
    font-size:30px;
}

.dashboard-card h3{
    font-size:17px;
}