.how-section {

  text-align: center;

}


.how-section h2 {

  font-size: 36px;

  margin-bottom: 50px;

}



.timeline {

  display: flex;

  justify-content: center;

  gap: 30px;

}



.step {

  position: relative;

  background: white;

  width: 250px;

  padding: 30px;

  border-radius: 15px;

  box-shadow:
  0 5px 20px rgba(0,0,0,0.08);

}



.step-number {

  position: absolute;

  top: -20px;

  left: 50%;

  transform: translateX(-50%);

  background: #2563eb;

  color: white;

  width: 45px;

  height: 45px;

  border-radius: 50%;

  display:flex;

  align-items:center;

  justify-content:center;

  font-weight:bold;

}



.step-icon {

  font-size:45px;

  margin-top:20px;

}



.step h3 {

  margin:20px 0;

  color:#2563eb;

}



.step p {

  line-height:1.6;

}



.arrow {

  position:absolute;

  right:-35px;

  top:50%;

  font-size:35px;

  color:#2563eb;

}