.sidebar {
  width: 250px;
  min-height: calc(100vh - 70px);
  background: #0f172a;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
  font-size: 16px;
}

.sidebar a:hover {
  background: #1e3a8a;
}

.sidebar a.active {
  background: #2563eb;
}